<input type="text" [(ngModel)]="title">
{{title}}



<div *ngIf="title === 'marcelo'">
  este es Marcelo
</div>

<div *ngIf="title === 'ivan'">
  este es Ivan
</div>

<div *ngIf="title === 'julian'">
  este es Julian
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'marcelo'">este MARCELO</p>
  <p *ngSwitchCase="'ivan'">este IVAN</p>
  <p *ngSwitchCase="'julian'">este JULIAN</p>
  <p *ngSwitchDefault>no hay match</p>

</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La Lista está vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{i}}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
  </div>